/* 
Documento CSS  
DIW - Los enlaces
David Abril
*/

/*
Paleta de colores:
Color base seleccionado en funcion del logo de la empresa:
(Color azul  1A82C5)
Paleta elegida en paletton.com:
http://paletton.com/#uid=13v0u0ktxGP4WPXf3w6XOIKTWnc
*/

/*Estilos por orden de aparicion en la pagina web*/
/*Aplicable a toda la pagina*/

@media screen and (max-width: 600px) {
	#cambio{
		display: none;
	}
	iframe{
		display: none;
	}
	.gallery{
		display: none;
	}
}

@media screen and (min-width: 900px) {

}
* {
	font-family: 'Alef', sans-serif;
	margin:0px;
	padding:0px;
}
/*Aplicable al cuerpo*/
body{
	font-family:Segoe,sans-serif;
	font-size:16px;
}
/*Aplicable a la etiqueta que guardara la imagen del banner*/
figure{
	/*
	margin:1% 1% 0% -4%;
	max-width:100%;*/
	display:inline-block;
	width:20%;
	vertical-align:middle;		
}
figure img{
	/*display:block; */
	display:inline-block;
	width:20%; 
	margin:15% 5% 5% 5%;
}
/*Aplicable al texto de la imagen del banner*/
figcaption{
	/*display:block;	
	margin-left: 15%;
	width:20%; 	
	text-align: center;*/
	margin:0px 5% 5% 5%;
}
/*Aplicable al banner*/
section#banner{
	display:inline-block;
	margin:5px;
	min-height:100px;
	padding:0.25em;
	text-align:center;
	vertical-align:top;
	width:65%;
}
h1{
	display:inline-block;
	font-size:4em;
	margin:0.25em auto;
	text-align:center;
	text-shadow:15px 15px 20px rgba(191, 211, 223,0.9);
	width:75%;	
}
/*Aplicable a las etiquetas html5 header, nav y footer*/
header,nav,footer{
	background:#1A82C5;
	border-radius:0.5em;
	margin:0.5em;
	padding:0.25em;
	text-align:center;
}
/*Aplicable a la id contenedor dentro de la etiqueta html5 section*/
/*NOTA: Segun el navegador a veces no coge directamente si modificamos section*/
section#contenedor{
	background:#017CCB;
	margin:0.5em auto;
	padding:0px;
	text-align:center;
	width: 65%;
	border-radius:0.5em;
	float:left;
}
/*Aplicable a la id principal dentro de la etiqueta html5 section y aside*/
/*NOTA: Segun el navegador a veces no coge directamente si modificamos section*/
section#principal, aside{
	background:#BFD3DF;	
	border-radius:0.5em;
	display:inline-block;
	margin:5px;
	min-height:100px;
	padding:0.25em;
	text-align:center;
	vertical-align:top;
	width:65%;
}
/*Aplicable a la etiqueta H2*/
section#principal h2{
	color:#C21D1D;
}
/*Aplicable a la etiqueta H3*/
h3{
	color:#FA5F5F;
	text-decoration:underline;
}
/*Aplicable a la etiqueta parrafo*/
p{
	text-indent:5px;
}
/*Aplicable a la etiqueta article de html5*/
article{
	text-align:left;
	margin-bottom: 5%;
}
/*Aplicable a la etiqueta aside de html5*/
aside{
	width:30%;	
}
/*Aplicable a la etiqueta footer de html5*/
footer{
	clear:both;
	font-size:1.05em;
}
nav{
	float:left;
	width: 30%;
}
nav aside{
	width: 80%;
	background:#1A82C5;
}
/*
.menu{margin:0; padding:0; width:100%; list-style:none;background:rgb(255,255,255);}
.menu li{padding:0; margin:0 0 1px 0; height:40px; display:block; }
.menu li a{text-align:left;height:40px; padding:0px 25px; font:16px Verdana, Arial, Helvetica, sans-serif; color:rgb(255,255,255); display:block; background:url('../images/menu.png') 0px 0px no-repeat; text-decoration:none;}
.menu li a:hover{background:url('../images/menu.png') 0px -40px no-repeat; color:rgb(255,255,255);}
.menu li a.active, .menu li a.active:hover{background:url('../images/menu.png') 0px -80px no-repeat; color:rgb(255,255,255);}
.menu li a span{line-height:40px;}
*/

.menu{
	margin:0; 
	padding:0; 
	width:100%; 
	list-style:none;
}
.menu li{
	padding:0; 
	margin:0 0 1px 0; 
	display:block; 
}
.menu li a{
	text-align:left;
	padding:0px 25px; 
	font:16px Verdana, Arial, Helvetica, sans-serif; 
	color:rgb(255,255,255); 
	display:block; 
	background:url('../images/menu.png') 0px 0px no-repeat; 
	text-decoration:none;
}
.menu li a:hover{
	background:url('../images/menu.png') 0px -40px no-repeat; 
	color:rgb(252,252,252);
}
.menu li a.active, .menu li a.active:hover{
	background:url('../images/menu.png') 0px -80px no-repeat; 
	color:rgb(255,255,255);
}
.menu li a span{
	line-height:40px;
}

video { 
	width: 80%; 
	margin-left: 10%;
}
video source {
	width: 100%; 
	height: auto; 
}

footer ul{
	list-style:none;
}
footer li{
	margin-top: 0.5%;
	display: inline-block;
    width: 38px;
    height: 38px;
}
#pinterest {
    background: url('../images/iconos.png') -205px -72px;
}
#facebook {
    background: url('../images/iconos.png') -82px 0;/*Primero izq segundo fila*/
}
#foursquare{
    background: url('../images/iconos.png') -369px -148px;
}
#youtube {
    background: url('../images/iconos.png') -246px 0;
}
#googlemas {
    background: url('../images/iconos.png') 0 -111px;
}
#yahoo{
    background: url('../images/iconos.png') -287px -110px;
}
#google{
    background: url('../images/iconos.png') -368px -110px;
}

/* Formulario de contacto*/
form{
  font-size: 90%;
}

textarea {
  width: 95%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #D5F1FF;
  resize: none; 
}
  
input{
 width: 98%;
 height: 40px;
 font: 300 12px "Open Sans", Arial, sans-serif;
 margin: 5px 5px 10px 0;
}
#left {
  float:left; 
  width:50%;
  background-color:#D5F1FF;
}
#right {
  margin-left:50px;
  background-color:#D5F1FF;
}
.important{ color:red;  font-weight:bold; }

label{display:inline-block; width:90%;  }

/*.seleccionar{ width:100px;  }*/

.error{ width:auto; color:red;  font-size:small;  }

/*#pie{ clear:both;}*/

/*select{  width: 20%; background: #D5F1FF; border-radius:15px; border-left: 4px solid #1608FF;  height: 20px;}*/

.text, select
{
  height: 20px;
  width: 230px;
  border:10px; 
  border-radius:15px;
  border-left: 4px solid lightblue; 
  border-bottom: 1px solid lightblue;
  background-color : lightblue;
  /*padding: 10px 6px 6px 22px;*/
  text-align: right;
}
input[type="submit"]
{ 
  background-color: #fff;
  color: #1608FF;
  border-bottom: 2px solid #04004C;
  border-radius: 25px; 
  margin-left: 15%;
  width: 80%;
  height: 15%;
  font-weight: bold;
  padding: 1%;
  font-size: 15px;
}
/*input[type=submit]{
 background-color:#FF9900;
 height:50px;
 
 border:none;
 font-weight:400;
 letter-spacing:2px;
 color:#FFFFFF;
}*/

input[type="submit"]:focus, input[type="submit"]:hover
{ 
  background-color:#1608FF;
  color: black;
  border-bottom: 2px solid #03ADFF;
  border-radius: 25px;
  font-weight: bold;
  color:#fff;
}
fieldset 
{
  background-color: #D5F1FF;
}
fieldset:hover
{
  background-color:#fff;
}
legend{
  font-size: 25px;
  font-family: 'Pacifico', cursive;
	color:#FA5F5F;
}

.logo{
	display:inline-block;
	width:90%; 
	margin:15% 5% 5% 5%;
}

.negrita{
	font-weight: bold;
}
.cambio {
	display:inline-block;
	width:90%; 
	margin:15% 5% 5% 5%;
}

iframe{
	width:100%;
	border:0;
}
